<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.1.1" targetFramework="net461" />
  <package id="Akka.Interfaced" version="0.5.3" targetFramework="net461" />
  <package id="Akka.Interfaced.Templates" version="0.5.3" targetFramework="net461" />
  <package id="Akka.Interfaced.Templates-Protobuf" version="0.5.3-beta" targetFramework="net461" />
  <package id="Akka.Interfaced-Base" version="0.5.2" targetFramework="net461" />
  <package id="NetLegacySupport.Action" version="1.1.0" targetFramework="net461" />
  <package id="NetLegacySupport.ConcurrentDictionary" version="1.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="protobuf-net" version="2.1.0-alpha-1" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.0.1-beta-23516" targetFramework="net461" />
  <package id="TrackableData" version="1.2.0" targetFramework="net461" />
  <package id="TrackableData.Protobuf" version="1.2.0-beta" targetFramework="net461" />
  <package id="TrackableData.Templates" version="1.2.0" targetFramework="net461" />
  <package id="TypeAlias" version="1.1.2" targetFramework="net461" />
</packages>