<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Mongo" connectionString="mongodb://localhost" />
  </connectionStrings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Console" xsi:type="ColoredConsole" layout="${date}|${logger}|${message}|${exception:format=tostring}" />
      <target name="File" xsi:type="File" layout="${date}|${logger}|${message}|${exception:format=tostring}" fileName="${basedir}/logs/logfile.txt" keepFileOpen="false" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="Console" />
      <logger name="*" minlevel="Trace" writeTo="File" />
    </rules>
  </nlog>
  <akka>
    <hocon>
      <![CDATA[
        system {
          name = ChatCluster
          runner {
            default = [
              { port = 3001, roles = [ "GameTable", "UserTable", "GamePairMaker", [ "Game", { port = 9021 } ], [ "User", { port = 9011 } ], [ "UserLogin", { port = 9001 } ] ] }
            ]
            cluster = [
              { port = 3001, roles = [ "GameTable" ] }
              { port = 3002, roles = [ "UserTable" ] }
              { port = 3003, roles = [ "GamePairMaker" ] }
              { port = 3011, roles = [ [ "Game", { port = 9021 } ]  ] }
              { port = 3012, roles = [ [ "Game", { port = 9022 } ]  ] }
              { port = 3021, roles = [ [ "User", { port = 9011 } ] ] }
              { port = 3022, roles = [ [ "User", { port = 9012 } ] ] }
              { port = 3031, roles = [ [ "UserLogin", { port = 9001 } ] ] }
            ]
          }
        }
        akka {
          actor {
            provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            serializers {
              wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
            }
            serialization-bindings {
              "System.Object" = wire
            }
          }
          loggers = ["Akka.Logger.CommonLogging.CommonLoggingLogger, Akka.Logger.CommonLogging"]
          remote {
            helios.tcp {
              hostname = "127.0.0.1"
              port = 3001
            }
          }
          cluster {
            seed-nodes = ["akka.tcp://ChatCluster@127.0.0.1:3001"]
            auto-down-unreachable-after = 30s
          }
        }
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
